@font-face {
  font-family: 'Young Serif';
  src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
  font-family: 'Outfit';
  src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-stone-one: hsl(30, 54%, 90%);
  --color-stone-two: hsl(30, 18%, 87%);
  --color-stone-three: hsl(30, 10%, 34%);
  --color-stone-four: hsl(24, 5%, 18%);
  --color-headings: hsl(14, 45%, 36%);
  --color-rose-one: hsl(332, 51%, 32%);
  --color-rose-two: hsl(330, 100%, 98%);
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Outfit;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Young Serif', serif;
  font-weight: 500;
  line-height: 1.0;
  margin-bottom: 1.4rem;
  margin-top: 3rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
  color: var(--color-headings);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
}

/* Cards */
.container {
  background: rgb(241, 200, 206);
  height: 100vh;
}

.card {
  background: var(--color-white);
  height: 100%;
  border: 3px solid black;
}

.card__header {
  background: dodgerblue;
  font-size: 4rem;
}

.card__body {
  padding: 0 3rem;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: fit-content;
    max-width: 80vw;
    border-radius: 10px;
  }
  
  .card__header {
    padding: 3rem 3rem 0 3rem;
  }
}

/* Lists */
ul, ol {
  padding: 0 3rem;
}

ul {
  list-style-type: square;
}

li {
  padding-left: 2rem;
}


li::marker {
  color: var(--color-headings);
  font-weight: 700;
}
